


a{
	text-decoration: none;
}

	
body{
background: linear-gradient(to left,grey,black);
}

.contenedor{
	display: grid;
	flex-direction: column;

}

header{

	display: grid;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin:auto;

}


.section{
	display: grid;
	align-items: center;
	flex-direction: column;


}



.footer{
	display: flex;
	justify-content: space-around;

}
.mi-img{
	width: 30%;
	height: 30%;

}

.yo{
	display: flex;
	justify-content: center;
}
p{
	color: lightgrey;
}

p:hover{
	color: lightblue;
	transition: 0.4s;
}

.mi-img:hover{
	opacity: 0.9;
	transition: 0.4s;
}












